<div class= "appj">
	<div class= "row"><h1>Japanese Phrase:</h1><h4>Favorite Recording:</h4></div>
		<div class= "row">
			<div class= "well span5">
				<p>	“日本語” </p>
				<div class="audio"> <%= image_tag "audio.png" %></div>	
			</div>
			<div class= "well span5">
				<div class = "star"><%= image_tag "starred-on.png", mouseover: "starred-off.png"%></div>	
				<div class= "recording"><%= image_tag "recording.png" %></div>
			</div>
		</div>


	<div class= "row">
		<h2>Record yourself asking, “Are you afraid of flying?”</h2>
		<div class= "well span5">
			<div class = "star"><%= image_tag "star grey.png", mouseover: "star hover.png"%></div>
			<div class = "record"><%= image_tag "record.png", mouseover: "record-hover.png"
									%></div>
		</div>
	</div>	

	<div class ="row">
		<h3>Try recording again?</h3>
		<div class= "well span5">
			<div class = "star"><%= image_tag "star grey.png", mouseover: "star hover.png"%></div>			
			<div class = "record"><%= image_tag "record.png", mouseover: "record-hover.png"
									%></div>
		</div>
	</div>
</div>